//Text-Colors
$text-neutral: #1b1b21;
$text-neutral-light: #ffffff;
$text-neutral-secondary: #31313c;
$text-regular-gray: #626278;
$text-light-gray: #7e7e96;
$text-secondary: #00b373;
//Text-weight
$regular: 400;
$regular-bolder: 500;
$light: 300;
$semi-bold: 600;
$bold: 700;
//Fonts
$roboto: 'Roboto', sans-serif;
$poppins: 'Poppins';
$poppins-semibold: 'Poppins-Semibold';
$poppins-thin: 'Poppins-Thin';
$poppins-light: 'Poppins-Light';
$poppins-regular: 'Poppins-Regular';
$poppins-medium: 'Poppins-Medium';
$poppins-bold: 'Poppins-Bold';

//background
$active-status-background: #00b373;
$discount-chip-background: #b51f31;
$neutral-light-background: #ffffff;
$primary-button-background: #5f259f;
$icon-button-background: #f0f0f2;
$regular-white: #ffffff;

//espaço
$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 0.75rem;
$spacing-4: 1rem;
$spacing-5: 1.25rem;
$spacing-6: 1.5rem;
$spacing-7: 1.75rem;
$spacing-8: 2rem;
$spacing-9: 2.5rem;
$spacing-10: 3rem;
$spacing-11: 3.5rem;
$spacing-12: 4rem;
