@if (number) {
  <nz-card class="credit-card" [ngClass]="index !== 0 ? 'blue' : 'purple'">
    <div class="credit-card__details">
      <div class="credit-card__name flex">
        <div class="mr-2">
          {{ name }}
        </div>
        @if (showEdit) {
          <div>
            <img src="/assets/icon/pencil.svg" alt="Ícone de lápis para edição." class="pointer" />
          </div>
        }
      </div>
      <div class="credit-card__number mb-3">{{ number }}</div>
      <div class="credit-card__info">
        <div class="credit-card__sub_info">
          <div class="credit-card__expiry mr-5">
            <span>Validade</span>
            <span class="expiry-date">{{ expiry | addLeadingZero }}</span>
          </div>
          <div class="credit-card__cvv">
            <span>CVV</span>
            <span>
              {{ showEye ? cvv : '***' }}
              @if (showEdit) {
                <img
                  (click)="toggleEyeBtn()"
                  src="/assets/icon/eye.svg"
                  alt="Ícone de olhos para mostrar o CVV."
                  class="pointer"
                />
              }
            </span>
          </div>
        </div>
        @if (brandImage) {
          <div class="credit-card__brand">
            <img [src]="brandImage" alt="Ícone da marca do cartão." />
          </div>
        }
      </div>
    </div>
  </nz-card>
}
