<nz-table
  nzShowSizeChanger
  [nzData]="listOfRandomUser"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [nzTotal]="total"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
  (nzQueryParams)="onQueryParamsChange($event)"
>
  <thead>
    <tr>
      <th nzColumnKey="name" [nzSortFn]="true">{{ 'workspace.name' | translate }}</th>
      <th nzColumnKey="gender" [nzFilters]="filterGender" [nzFilterFn]="true">{{ 'workspace.gender' | translate }}</th>
      <th nzColumnKey="email" [nzSortFn]="true">{{ 'workspace.email' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    @for (data of listOfRandomUser; track data) {
      <tr>
        <td>{{ data.name.first }} {{ data.name.last }}</td>
        <td>{{ data.gender }}</td>
        <td>{{ data.email }}</td>
      </tr>
    }
  </tbody>
</nz-table>
